<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.widgetkit-extension</string>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We need your location to find the nearest bus stops. Please click 'Always Allow' for the best performance!</string>
	<key>NSWidgetWantsLocation</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>dot-matrix.TTF</string>
		<string>dot-matrix-bold.TTF</string>
		<string>fixedsys.ttf</string>
	</array>
</dict>
</plist>
